body {
  width: 1280px;
  margin: 0 auto;
}

/* LOADING */

.isLoading {
  background-image: url("https://i.gifer.com/g0R9.gif");

  background-size: contain;
  height: 100vh;
}

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid red;
  padding: 10px 0;
  padding-bottom: 20px;
}

.header-button {
  margin-right: 20px;
}

.header1 {
  display: flex;
  justify-content: flex-start;
}

.header2  {
  justify-content: flex-end;
  display: flex;
}
.header-container img {
  width: 90px;
  height: 60px;
  padding-right: 10px;
}

/* Home ALL GAMES */

.search-input {
  display: flex;

  justify-content: center;
  align-items: center;
}

.search {
  margin-top: 30px;
  height: 50px;
  width: 50%;
  padding-left: 40px;
}
.banniere-games {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.container-cards {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}
.one-card {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  color: black;
}
.one-card:hover {
  background-color: red;
  color: white;
}

.one-card img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.pagination {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-next {
  margin-left: 50%;
}

.button-previus {
  padding: 10px;
}

button:hover {
  background-color: red;
  color: white;
  border: red;
  cursor: pointer;
}

/* ONE GAME */

.oneGame {
  display: flex;
}

.img-oneGame img {
  height: auto;
  width: 500px;
  object-fit: cover;
}
.container1game {
  width: 40%;
  /* border: solid 1px red; */
  height: 50%;
}
.container2game {
  width: 60%;
}

.plateform {
}

/* Signup */

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form {
  width: 275px;
  margin: auto;
  margin-top: 10%;
}

.signup-container {
  justify-content: center;
  text-align: center;
}

.signup-form input {
  border: none;
  border-bottom: 1px solid red;
  height: 35px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.signup-form button {
  margin: 10px;
}

.agree {
  font-size: 12px;
  color: grey;
}

/* TRAITEMENT DE TEXTE */

.title-center {
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
}
/*  GÉNÉRAL */

button {
  border: solid red 1px;
  background-color: white;
  color: red;
  border-radius: 10px;
  padding: 10px;
}
p:hover {
  /* color: white; */
}
