body {
  width: 1280px;
  margin: 0 auto;
}

/* LOADING */

.isLoading {
  background-image: url("https://i.gifer.com/g0R9.gif");

  background-size: contain;
  height: 100vh;
}

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid red;
  padding: 10px 0;
  padding-bottom: 20px;
}
.header-container img {
  width: 90px;
  height: 60px;
  padding-right: 10px;
}
.search-input {
  display: flex;

  justify-content: center;
  align-items: center;
}

.search {
  margin-top: 30px;
  height: 50px;
  width: 50%;
  padding-left: 40px;
}

/* Home ALL GAMES */
.banniere-games {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.container-cards {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}
.one-card {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.one-card img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.pagination {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-next {
  border: solid red 1px;
  background-color: white;
  color: red;
  border-radius: 10px;
  padding: 10px;
  margin-left: 50%;
}

.button-previus {
  border: solid red 1px;
  background-color: white;
  color: red;
  border-radius: 10px;
  padding: 10px;
}

button:hover {
  background-color: red;
  color: white;
  border: red;
}
/* ONE GAME */

.oneGame {
  display: flex;
}

.img-oneGame img {
  height: auto;
  width: 500px;
  object-fit: cover;
}
.container2game {
  padding-left: 20px;
  display: flex;
}

.plateform {
  /* flex-direction: row; */
  padding-left: 20px;
}

/* TRAITEMENT DE TEXTE */

.title-center {
  text-align: center;
}

.container1game {
  width: 40%;
  border: solid 1px red;
  height: 50%;
}

.container2game {
  display: block;
}
